.container_weather_location {
  width: 25vw;
  height: 34vh;
  bottom: 4vh;
  left: 55vw;
  position: absolute;
}
.container_weather_city {
  width: 17vw;
  height: 44.5vh;
  bottom: 0vh;
  right: 6.5vw;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
}
.items_flex_city {
  display: flex;
  width: 100%;
  height: 12vh;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2vh;
  margin-bottom: 2vh;
  flex-wrap: wrap;
  flex-flow: row;
  flex-direction: column;
  box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, 0.2);
}
.items_flex_add_city {
  display: flex;

  width: 100%;
  height: 16vh;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2vh;
  border-style: dashed;
}
.container_flex_city {
  display: flex;
  width: 100%;
  height: 8vh;
}

.icon_weather_city {
  display: flex;
  width: 5.4vw;
  height: 8vh;
  border: 1px solid #dce8f4;
  border-radius: 2vh;
  background-color: #dce8f4;
}
.img_weather_city {
  height: 2.5vw;
  width: 2.5vw;
  margin: auto;
  z-index: 2;
}
.items_weather_city {
  display: flex;
  width: 5.5vw;
  height: 8vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.6vw;
  line-height: 8vh;
  font-family: sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #000000;
}
.items_flex_text {
  display: flex;
  width: 6vw;
  height: 8vh;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
}
@mixin text_item_location {
  height: 4vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  text-align: center;

  line-height: 1.6vh;
  font-family: sans-serif;
  font-style: normal;
}
.text_city_location {
  @include text_item_location;
  color: #000000;
  align-items: flex-end;
  font-weight: bold;
  font-size: 1.1vmax;
}
.text_country_location {
  @include text_item_location;
  color: #000000;
  align-items: flex-start;
  font-weight: bold;
  font-size: 0.85vmax;
}
@mixin text_weather_location {
  position: absolute;
  font-family: sans-serif;
  font-style: normal;
  align-items: center;
  color: #000000;
  margin: 0;
  z-index: 2;
}
.text_number_location {
  @include text_weather_location;
  top: 2.5vh;
  left: 6.5vw;
  font-weight: bold;
  font-size: 2vmax;
  line-height: 2.2vmax;
}
.text_temperature_location {
  @include text_weather_location;
  top: 2.6vh;
  left: 8.6vw;
  font-weight: 100;
  font-size: 1.6vmax;
  line-height: 1.3vmax;
  color: #7e68e7;
}
.text_celsius_location {
  @include text_weather_location;
  top: 2.3vh;
  left: 9.2vw;
  font-weight: 500;
  font-size: 0.8vmax;
  line-height: 1.2vmax;
  color: #7e68e7;
}
.text_number_location_next {
  @include text_weather_location;
  top: 17vh;
  left: 6.5vw;
  font-weight: bold;
  font-size: 2vmax;
  line-height: 2.2vmax;
}
.text_temperature_location_next {
  @include text_weather_location;
  top: 17.1vh;
  left: 8.6vw;
  font-weight: 100;
  font-size: 1.6vmax;
  line-height: 1.3vmax;
  color: #7e68e7;
}
.text_celsius_location_next {
  @include text_weather_location;
  top: 16.8vh;
  left: 9.2vw;
  font-weight: 500;
  font-size: 0.8vmax;
  line-height: 1.2vmax;
  color: #7e68e7;
}
.divider_div {
  position: absolute;
  left: 10.3vw;
  width: 1px;
  height: 2.5vh;
  top: 2.75vh;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.divider_div_next {
  position: absolute;
  left: 10.3vw;
  width: 1px;
  height: 2.5vh;
  top: 17vh;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.footer_flex_location {
  height: 4vh;
  width: 17vw;
  display: flex;
}
@mixin text_location_mixin {
  height: 4vh;

  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 0.85vmax;
  line-height: 4vh;
  font-family: sans-serif;
  font-style: normal;

  align-items: center;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.4);
}
.text_flex_humidity {
  @include text_location_mixin;
  width: 40%;
  padding-left: 4px;
}
.text_flex_direction {
  @include text_location_mixin;
  width: 30%;
  padding-left: 4px;
}
.text_flex_speed {
  @include text_location_mixin;
  width: 30%;
  padding-right: 2px;
}
.add_location_button {
  position: absolute;
  top: 32vh;
  width: 8vw;
  left: 4.5vw;
  height: 3vh;
  border: 1px solid #efeefe;
  border-radius: 2vh;
  background-color: #efeefe;
  color: #7e68e7;
  text-align: center;
  font-size: 0.85vmax;
  line-height: 3.2vh;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
}
.img_draw_city {
  position: absolute;
  bottom: 0vh;
  width: 12vw;
  height: 7vh;
  left: 2.5vw;
}
