.container_current_forecast {
  width: 80vw;
  height: 34vh;
  top: 4vh;
  position: absolute;
  background-color: #ffffff;
}

.container_images {
  position: absolute;
  height: 32vh;
  width: 73vw;
  left: 3.5vw;
  top: 2vh;
  border: 0;
  border-radius: 3vh;
  background-color: #ffffff;

  background-image: url("../../../assets/bogota.jpg");
  background-position: 50% 30%;
  background-repeat: no-repeat;
  background-size: cover;
}

.text_city {
  position: absolute;
  top: 7vh;
  left: 7vw;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.4vw;
  line-height: 1.5vw;
  display: flex;
  align-items: center;
  color: #7e68e7;
  margin: 0;
  z-index: 1;
}
.icon_location {
  position: absolute;
  top: 7vh;
  left: 5vw;
  height: 1.3vmax;
  width: 1.3vmax;
  margin: auto;
}
.icon_bogota {
  position: absolute;
  top: 10vh;
  left: 6vw;
  height: 8vmax;
  width: 8vmax;
  margin: auto;
}
.img_container_forecast {
  position: absolute;
  z-index: 1;
  width: 7vw;
  height: 25vh;
  left: 0px;
  top: 6vh;
}
.img_container_weather {
  position: absolute;
  z-index: 1;
  width: 3.5vmax;
  height: 3.5vmax;
  left: 1.5vw;
  top: 10vh;
}

@mixin text_current_forecast {
  position: absolute;
  font-family: sans-serif;
  font-style: normal;
  align-items: center;
  color: #ffffff;
  margin: 0;
  z-index: 2;
}
.text_number {
  @include text_current_forecast;
  top: 22vh;
  left: 1.6vw;
  font-weight: bold;
  font-size: 2.5vmax;
  line-height: 2.5vmax;
}
.text_temperature {
  @include text_current_forecast;
  top: 22vh;
  left: 4.2vw;
  font-weight: 100;
  font-size: 2vmax;
  line-height: 1.3vmax;
}
.text_celsius {
  @include text_current_forecast;
  top: 21.5vh;
  left: 5vw;
  font-weight: 500;
  font-size: 1vmax;
  line-height: 1.2vmax;
}
.text_weather {
  @include text_current_forecast;
  top: 16vh;
  left: 1.8vw;
  font-weight: bold;
  font-size: 1vmax;
  line-height: 1.3vmax;
}
